/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
                 /* Top Nav */

.containerhome {
	width: 85%;
	margin: 0 auto;
	box-sizing: border-box;
	/* border: 1px solid red; */
}
				
.nav-header nav a {
	display: inline-block;
	margin: 50px; 
	align-content: center;
}
				
.nav-header{
	margin-bottom: 20px;
}
				
nav a {
	padding-top: 38px;
	align-content: center;
	text-decoration: none;
	color: lightgrey;
	text-align: center; 
				
}
				
a:hover {
	background: white;
	color: dimgray;
}
				
header nav .first-anchor {
	margin-left: 0;
					
}
				
.logo {
	/* border: 1px solid green; */
	margin-left: 150px;
}
				
								 /* topsection */
								 
.topsection {
	display: flex;
	width: 100%;
	align-content: space-between;
    
}
		
.topdiv {
	display: flex;
	width: 95%;
}

.textcontent   {
	/* border: 1px solid red; */
	width: 100%;
}

.circleimage {
	display: flex;

}



				
.topdiv .textcontent  h1 {
	font-size: 80px;
	padding: 55px;
	text-align: center;
					
}
				


.topsection .textcontent .btn {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
} 
				  
.topsection .textcontent .btn:hover {
	background: black;
	color: white;
}
				
.btn  {
	display: block;
	margin-left: 350px; 
	position: relative;
	cursor: pointer;
} 
				
.middlecontent {
	display: flex;
	width: 95%;
	border-top: 1px solid black;
	margin-top: 25px;
	align-content: center;
					
} 
				
.features {
	display: inline-block;
 	padding: 30px;
}
				
.about {
	display: inline-block;
	 padding: 30px;
}
				
				
.middle-img {
	display: block;
	width: 1229px;
}
					
.bottomcontent {
	width: 95%;
	display: flex;
	border-bottom: 1px solid black;
	
}
		
				
.services {
	display: inline-block;
	width: 400px;
	height: 200px;
	padding: 25px;
    margin-right: 25px;
	
}
				
.product {
	display: inline-block;
	width: 400px;
	height: 200px;
	padding: 20px;
	margin-right: 25px;
}
				
.vision {
	display: inline-block;
	 width: 400px;
	height: 200px;
	padding: 20px;
}
				
footer {
	box-sizing: border-box;
}
				
.footernav {
	padding: 25px;
}
				
footer p {
	text-align: center;
}


		/* services page */
		
.containerhome-service .nav-header-services {
	display: flex;
	width: 95%;
	margin: 0 auto;
}

.nav-header-services nav a {
	width: 100%;
}

nav a {
	margin: 55px;
	
}

.services-header-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1350px;
	margin-top: 45px;

}

.headertext {
	width: 89%;
	height: 200px;
	/* background: blue; */
	padding: 30px;
	margin: 0 auto;
	border-bottom: 2px solid black;
}

.headertext h1  {
	font-size: 25px;

}


.toptwo .firsttwo {
	display: flex;
	/* background: red; */
	width: 89%;
	margin: 0 auto;
	
}

.midtwo .middletwo {
	display: flex;
	/* background: yellow; */
	margin: 0 auto;
	width: 89%;
}

.bottomehalf .bottomtwo {
	display: flex;
	border-bottom: 2px solid black;
	margin: 0 auto;
	width: 89%;
}

button {
	margin-top: 20px;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 46px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
button:active {
	position:relative;
	top:1px;
}


.dd {
	height: 80px;
	width: 50%;
	height:300px;
	padding: 45px;
	margin: 15px;
	border: 2px solid black;
	background: lightgray;
}

.UX {
	height: 80px;
	width: 50%;
	height:300px;
	padding: 45px;
	margin: 15px;
	background: lightgray;
	border: 2px solid black;
}

.dm {
	height: 80px;
	width: 50%;
	height:300px;
	padding: 45px;
	margin: 15px;
	background: lightgray;
	border: 2px solid black;
}

.wd {
	height: 80px;
	width: 50%;
	height:300px;
	padding: 45px;
	margin: 15px;
	background: lightgray;
	border: 2px solid black;
}


.id {
	height: 80px;
	width: 50%;
	height:300px;
	padding: 45px;
	margin: 15px;
	background: lightgray;
	border: 2px solid black;
}


.ad {
	height: 80px;
	width: 50%;
	height:300px;
	padding: 45px;
	margin: 15px;
	background: lightgray;
	border: 2px solid black;
}

footer .lastsection  {
	display: flex;
	align-content: center; 
	width: 87%; 
	display: flex;
	margin: 0 auto;
	margin-bottom: 87px;
}

.lasttext {
	width : 860px; 
	padding: 45px;
	margin: 0 auto;
	;
}

.lasttext p {
	width: 80%;
	height:40%; 
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.4em;
	
	
}


.lasttext ul li {
	list-style-type: disc;
	width: 75%;
	margin-left: 40px;
	margin: 20px;
}

.services-info {
	height:550% ;
	width: 550px ;
	display: inline-block;
	margin: 0 auto;
	margin-top: 18px;
	
	
	
}

footer p {
	align-content: center;
}


